body{
    margin: 0;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

header {
    width: 100%;
    height: 210px;
    background-color: #222;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-titulo{
    color: white;
}

.img-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


#card-list{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-gap: 10px; 
    grid-template-columns: repeat(4, minmax(300px, 1fr)); 
    padding: 0 50px 0 50px;
}

.card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    transition: all 0.3s ease-out;
    background-color: #222;
    transition-duration: 1s;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    width: 300px;
    height: 670px;
    padding: 10px;
    margin: 10px 0 20px 0;  
  }

.card:hover{
    transform: scale(1.1);
    transition-duration: 1s;
}

.img-nft{
    border-radius: 10px;
    width: 300px;
    height: 300px;
    align-self: center;
    transition-duration: 4s;
    border-radius: 50%;
    margin-top: -30px;
}

.img-nft:hover{
    filter: brightness(50%);
    transition-duration: 4s;
    background-image: url("img/favicon-32x32.png");
}

.titulo{
    color: hsl(0, 0%, 100%);   
    font-family: Verdana;
    font-size: 23px;
}

.titulo:hover{
    color: (0, 0%, 100%); 
    transition-duration: 4s
}

.descricao{
    font-family: Verdana;
    font-size: 17px;
    text-decoration: none;
    color: hsl(215, 51%, 70%);
}

.meio-card {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    border-bottom: 2px solid hsl(215, 51%, 70%);
}
    
.flex-icone{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.icons {
    width: 17px;
    height: 20px;
}

.text-ethereun{
    color: hsl(178, 100%, 50%);
}

.text-clock{
    color: hsl(215, 51%, 70%)
}

.footer-card{
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-avatar{
    width: 60px;
    height: 60px;
    float: left;
    margin:  5px;
    border-radius: 50%;
}

.nome{
    color: white;
}

.nome:hover{
    color: hsl(178, 100%, 50%);
    transition-duration: 4s
}

footer {
    background-color: #222;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    width: 100%;
}